*.pyc

DjangoWebProject1/DjangoWebProject1/main/__pycache__/
DjangoWebProject1/DjangoWebProject1/main2/__pycache__/
DjangoWebProject1/DjangoWebProject1/DjangoWebProject1/__pycache__/
DjangoWebProject1/DjangoWebProject1/app/__pycache__/