html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.btn {
    background-color: red;
}
.navbar {
    margin-bottom: 0;
}

.wrapper {
    min-height: 100%;
}

.wrapper-content {
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.section-top {
    margin-bottom: 20px
}

.section {
    padding: 10px 0;
}

.section123 {
    padding: 10px 0;
    text-align: center;
}


    .section h1 {
        margin-bottom: 40px;
    }

.product-item {
    float: left;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 360px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.add-to-card-btn {
    color: red;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.product-image-item {
    padding: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    min-height: 230px;
    max-height: 265px;
}

.raper-image {
    display: block;
    margin: auto;
    position: center;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 410px;
    max-width: 560px;
}

