{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="section section1">
        <div class="container">
            <div class="raw">
                <div class="section123 top">
                    <h1> Реп исполнители </h1>
                </div>
               
                {% if rappers.count > 0 %} 
                {%for number in rappers %}

                <div class="product-item">
                     <a href="{% url 'rapper1' number.id_rapper %}">
                     <h4>{{ number.name }}</h4>
                    <div><img src={% static number.photo %} class="product-image-item" ></div></a>

                   <div class="add-to-card-btn">
                        <button class="btn btn-success"
                            onclick=window.open("{% url 'rapper1' number.id_rapper %}",'z')
                            >Открыть профиль
                        </button>
                    </div>
                </div>
            
                {% endfor%}  
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}