{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src={% static rapper.photo %} class="raper-image" >
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ rapper.name }}
                </h1>
                <div>
                    <h4>
                        Биография
                    </h4>
                </div>
                <div>
                    <h5>
                        {{ rapper.biography }}
                    </h5>
                </div>
            </div>
            <h5>
            Панчи:
                <br>
                {%for number in punchs %}
                    {{ number.text }}
                    <br>
                {% endfor%}  
            </h5>
        </div>
    </div>
{% endblock %}
