{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src={% static rapper.photo %} class="raper-image" >
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ rapper.name }}
                </h1>
                <div>
                    <h4>
                        Биография
                    </h4>
                </div>
                <div>
                    <h5>
                        {{ rapper.biography }}
                    </h5>
                </div>
                <div style="width:500px; height:500px; overflow:auto;">
                <table style="border:1px solid black; height: 100px; overflow: auto">
                    <tr><th style="text-align:center">Панчи</th></tr>
                {%for number in punchs %}
                    <tr><td style="border:1px solid black;padding: 10px;">{{ number.text }}</td></tr>
                {% endfor%}
                    </table>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
