 <html> 
<head><title></title></head> 

<body> 

{{ content }} 



</body> 
</html> 



{#<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8" />
    <title>Django</title> 
</head> 
<body class="container">



     {{seasons.count}}
{% if seasons.count > 0 %} 
        
        {%for number in seasons %}  
    <div class="product-item">
     <a href="season1">
                    <div>
                        <img src={% static 'app/content/season1.jpg' %} class="product-image-item" >
                    </div></a>
             
        </div>
        {% endfor%} 

        
{% endif %} 

</body> 
</html>#}