{% extends 'main2/base_f.html' %}
{% load static %}


{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
    }
    td {
        padding: 10px;
    }
    th {
        text-align:center
    }
</style>
    <div class="section section1">
        <div class="container">
            <div class="raw">
                <div class="section123 top">
                    <h1 title="Для поиска нажмите комбинацию CTRL+F">Панчи</h1>
                </div>
                <table>
                    <tr><th>Панч</th><th>Исполнитель</th><th>Сезон</th></tr>
                {%for number in punchs %}
                    <tr><td>{{ number.text }}</td><td>{{ number.id_rapper.name }}</td><td>{{ number.id_season.name }}</td></tr>
                {% endfor%}  
                </table>
            </div>
        </div>
    </div>
{% endblock %}