{% extends 'main2/base.html' %}
{% load static %}


{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        margin-left: 15px;
    }
    td {
        padding: 10px;
    }
    th {
        text-align:center
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src={% static season.photo %} class="raper-image" >
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ season.name }}
                </h1>
                <div>
                    <h4>
                        Краткая фабула
                    </h4>
                </div>
                <div>
                    <h5>
                      {{ season.text }}
                    </h5>
                </div>
                <h4>Годы проведения: {{season.year}}</h4>
            </div>
            <div style="width:500px; height:500px; overflow:auto;">
            <table>
                    <tr><th>Панч</th><th>Исполнитель</th></tr>
                {%for number in punchs %}
                    <tr><td>{{ number.text }}</td><td>{{ number.id_rapper.name }}</td></tr>
                {% endfor%}  
                </table>
            </div>
        </div>
    </div>
{% endblock %}