{% extends 'main2/base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src={% static 'app/content/season1.jpg' %} class="raper-image" >
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    Первый сезон - основа.
                </h1>
                <div>
                    <h4>
                        Краткая фабула
                    </h4>
                </div>
                <div>
                    <h5>
                   То с чего всё началось. 
                    </h5>
                </div>
                <div>
                    <h4>
                        Информация по батлам в сезоне.
                    </h4>
                </div>
                <div>
                    <h5>
                   Победил Оксимирон (неправда).
                    </h5>
                </div>
            </div>
            <h6>
            Панчи: *вывод панчей из бд через jQuery*
            </h6>
        </div>
    </div>
{% endblock %}